.btn-SchedulerEmailJob {
    background-color: #62cb31;
    border-color: #62cb31;
    color: #fff;
}

.btn-SchedulerInviteJob {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}