<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trustbusiness.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trustbusiness.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trustbusiness</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$trustbusiness</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TSModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:adysbd5npq.database.windows.net,1433;Initial Catalog=tsbusiness;User ID=george@adysbd5npq;Password=Stonewood2015" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrustSystems3.TSModelContainer, TrustSystems3" MigrationConfiguration="TrustSystems3.Migrations.Configuration, TrustSystems3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:adysbd5npq.database.windows.net,1433;Initial Catalog=tsbusiness;User ID=george@adysbd5npq;Password=Stonewood2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TrustSystems3.CompanyWeb.Models.ApplicationDbContext, TrustSystems3.CompanyWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adysbd5npq.database.windows.net,1433;Initial Catalog=tsbusiness;User ID=george@adysbd5npq;Password=Stonewood2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TSModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/TSModel.csdl|res://*/TSModel.ssdl|res://*/TSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:adysbd5npq.database.windows.net,1433;Initial Catalog=tsbusiness;User ID=george@adysbd5npq;Password=Stonewood2015"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>