<div class="row">
    <div class="col-md-3 text-center">
        <a href="#">
            <img src="@Url.Content("~/images/home/pureformulas-insighttile.jpg")" alt="">
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#">
            <img src="@Url.Content("~/images/home/petflow.jpg")" alt="">
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#">
            <img src="@Url.Content("~/images/home/bookbyte.jpg")" alt="">
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#">
            <img src="@Url.Content("~/images/home/rev.com-insights.jpg")" alt="">
        </a>
    </div>
</div>